body{
    /*background-image: url("../images/body.jpg");*/
    /*     background-image:linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../images/body.jpg);*/
    /*    background-repeat: cover;*/
    background-color:rgba(0,0,0,0.8);
}
.site-three-part{
    margin-top: 20px;
}
.register-form , .login-form , .submission-form , .alert-success , .alert-warning{
    width: 40%;
    margin: 20px auto;
}

.fa-user-circle{
    line-height: 1.4;
    font-size: 18px;
}
.idea-list{
    width: 90%;
    margin: 30px auto;
}

.search-bar{
    margin-top: 10px;
}

.idea-image-frame{
    background-color: #808080;
    border: solid 2px #fdc650;
    border-radius:10px;
}
.idea-detail-frame{
    border: solid 2px #fdc650;
    background-color: #d6d1d1; 
    border-radius:10px;
}
.idea-footer-frame{
    border: solid 2px #fdc650;
    margin-top: 4px;
    background-color: #808080; 
    border-radius:10px;
    color: #fdc650;
}

.idea-image{
    margin-bottom: 12px;
    margin-top: 12px;
}

.idea-summary{
    overflow-wrap: break-word ;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.view-more{
    margin-bottom: 10px;
}
.idea-view {
    width: 50%;
    margin: 20px auto;
}

.comment-panel{
    width: 50%;
    margin: 40px auto;
}
.comment-image-frame{
    text-align: center;
    border:solid 2px #808080;
    border-radius: 6px;
    background-color: #d6d1d1;
    padding-top: 15px;
}
.comment-detail-frame{
    border:solid 2px #808080;
    border-radius: 6px;
    /*margin-left: 10px;*/
}

.comment-item{
    margin: 20px auto;
}

.nav-custom-color{
    background-color: rgb(0,0,0,0.05) !important;
}
.nav-link  {
    color: #e6a51a !important;
}
.nav-brand{
    color: #e6a51a !important;
    font-size: 30px;
    margin-right: 20px
}

.home-box{
    margin-top:40px;
    margin-bottom:30px;
}

h6 a{
    color: #e6a51a;
}

.footer-text{
    color: #e6a51a;
}
.social-icon a{
    color: #e6a51a !important;
}

.social-icon {
    margin-top: 40px;
    text-align: center ;
}

.footer-copyright{
    color:#e6a51a;
    font-size: small;
}
hr{
    background-color: #e6a51a;
}
.site-footer{
    margin-top:20px;
}
.about-body{
    background-color:#131313;
    color: white;

}
.about-border{
    border:none;

}
.text-muted {
    color:#fbfbf8;
    line-height: 2;
    font-size: 20px;
}

#myChart{
    margin-top: 80px;
}

.navbar-toggler {
    background-color: #e6a51a;
}

